@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Kalam&family=Signika+Negative:wght@300&display=swap');

body{
    font-family: 'El Messiri', sans-serif;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.quiz_container{
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(240, 227, 227, 0.527);
    width: 400px;
    max-width: 100%;
}

.quiz_header{
    padding: 2rem;
}

ul{
    list-style: none;
    padding: 0;
}

button{
    background-color: #353b48;
    display: block;
    color: white;
    font-family: inherit;
    font-size: 15px;
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}

button:hover{
    background-color: hsl(210, 17%, 11%);
    animation-delay: 5s;
}

h2{
    margin: 0;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    font-size: 15px;
    margin: 0.5
    rem 0;
}

ul li label{
    cursor: pointer;
}